<div class="p-5 mx-auto">
    <div class="container">
        <div class="row w-100 text-center">
            <div class="col-sm-12 col-12 py-0 col-md-12 col-lg-12 text-center">
                <div class="row px-3 py-lg-1 py-md-1 py-5 py-xs-1 py-sm-1 text-center">
                    <div class="col-md-12 p-5">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <h1 class="py-2 font-weight-bold" style="font-family: 'Teko', sans-serif;" contenteditable="true"><b>Seja bem vindo(a)!</b></h1>
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto col-md-8 col-lg-8 col-sm-12 col-xs-12">
                        <form autocomplete="off">
                            <div class="form-group">
                                <label for="usuarioid">Usuário</label>
                                <input type="text" class="form-control" pInputText #username [(ngModel)]="usuario" id="usuarioid" aria-describedby="usuarioidHelp" placeholder="usuário">
                                <small id="usuarioidHelp" class="form-text text-muted">Informe o seu usuário</small>
                            </div>
                            <div class="form-group">
                                <label for="usuarioid">Senha:</label>
                                <input type="password" class="form-control" #password pInputText [(ngModel)]="senha" id="usuarioid" aria-describedby="usuarioidHelp" placeholder="usuário">
                                <small id="usuarioidHelp" class="form-text text-muted">Informe a sua senha</small>
                            </div>

                            <button (click)="logar(username.value , password.value)" class="btn btn-primary col-md-12 col-lg-12 col-12 col-xs-12 col-sm-12">Logar</button>
                            <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>